/*Color-Variables*/
/*body{
	background-color: #000;
}
*/
/*Fonts used

font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Chakra Petch', sans-serif;

 */
/*particles js Styles*/
.ps-wrapper{
 	position: relative;
 }
#particles-js canvas{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
 }
/*particles js Styles*/
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body{box-sizing: border-box;}
html{
	font-size: 50%;
}
@media (min-width: 480px){
html{
		font-size: 62.5%
}
	}
.heading{
	margin: 0;
}
.header__intro-text-hello{
			font-family: 'Montserrat', sans-serif;
			font-size: 3.6rem;
			font-weight: 400;
			text-transform: uppercase;
			color: #333;
		}
.header__intro-text-name{
			font-family: 'Montserrat', sans-serif;
			font-size: 5.2rem;
			font-weight: 700;
			color: #333;
		}
@media (min-width: 640px){
.header__intro-text-name{
				font-size: 8.2rem
		}
			}
.header__intro-text-skill{
			font-family: 'Chakra Petch', sans-serif;
			font-size: 2.4rem;
			font-weight: normal;
			color: #333;
		}
.mg-bt-xsm{ margin-bottom: 1rem; }
.mg-bt-sm{ margin-bottom: 2rem; }
.mg-bt-md{ margin-bottom: 4rem; }
.mg-bt-lg{ margin-bottom: 6rem; }
.mg-bt-hg{ margin-bottom: 8rem; }
.mg-tp-xsm{ margin-top: 1rem; }
.mg-tp-sm{ margin-top: 2rem; }
.mg-tp-md{ margin-top: 4rem; }
.mg-tp-lg{ margin-top: 6rem; }
.mg-tp-hg{ margin-top: 8rem; }
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.header{
	/*background-image: url(../img/home-bg.jpg);*/	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	padding: 0 2rem;
	position: relative;
}
.header__intro-text{
		position: absolute;
		top: 50%;
		-webkit-transform: translate(0,-50%);
		        transform: translate(0,-50%);
	}
.nav-bar{
	display: flex;
	align-items: center;
	height: 10rem;
	position: static;
}
@media (min-width: 900px){
.nav-bar{
		position: relative;
		z-index: 2
}
	}
.nav-bar__logo{
		margin-right: auto;
		font-family: 'Lato', sans-serif;
		font-size: 4.8rem;
		font-weight: 300;
		color: #333;
		padding: .5rem .5rem;
		border: 1.5px solid #333;
	}
.nav-bar__logo a{
			text-decoration: none;
			color: inherit;
		}
.nav-bar__menu-bar.active ul{
			opacity: 1;
			visibility: visible;
			-webkit-transform: translateX(0);
			        transform: translateX(0);
		}
.nav-bar__menu-bar ul{
			opacity: 0;
			visibility: hidden;
			-webkit-transform: translateY(-100%);
			        transform: translateY(-100%);
			list-style-type: none;
			background-color: #262626;
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			text-align: center;
			transition: all .4s;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
.nav-bar__menu-bar li{
			display: block;
			align-self: stretch;
		}
.nav-bar__menu-bar a{
			display: block;
			text-decoration: none;
			color: #fff;
			font-family: 'Lato', sans-serif;
			font-size: 1.8rem;
			font-weight: 700;
			text-transform: uppercase;
			padding: 4rem 2rem;
			transition: all .2s;
		}
.nav-bar__menu-bar a:active,
			.nav-bar__menu-bar a:hover{
				background-color: #fff;
				color: #333;
				-webkit-transform: translateY(-2px);
				        transform: translateY(-2px);
			}
@media (min-width: 900px){

				.nav-bar__menu-bar ul{
					-webkit-transform: scale(1);
					        transform: scale(1);
					opacity: 1;
					visibility: visible;
					list-style-type: none;
					background-color: transparent;
					width: auto;
					height: auto;
					position: static;
					z-index: 10;
					text-align: left;
					transition: all .3s;
					display: block;
				}

				.nav-bar__menu-bar li{
					display: inline-block;
				}

					.nav-bar__menu-bar li:not(:last-child){
						margin-right: 2rem;
					}

				.nav-bar__menu-bar a{
					display: block;
					text-decoration: none;
					color: #333;
					font-family: 'Lato', sans-serif;
					font-size: 1.6rem;
					font-weight: bold;
					text-transform: uppercase;
					padding: 2rem;
					border-bottom: 1px solid transparent;
					transition: all .2s;
			}

					.nav-bar__menu-bar a:active,
					.nav-bar__menu-bar a:hover{
						border-bottom: 1px solid #333;
						background-color: transparent;
						color: #333;
						-webkit-transform: translate(0);
						        transform: translate(0);
				}
		}
.nav-bar__icon{
		cursor: pointer;
		width: 50px;
		height: 50px;
		background-color: #fff;
		color: #333;
		position: fixed;
		z-index: 11;
		position: relative;
	}
.nav-bar__icon.active span:nth-child(1){
			-webkit-transform: rotate(45deg);
			        transform: rotate(45deg);
		}
.nav-bar__icon.active span:nth-child(3){
			-webkit-transform: rotate(-45deg);
			        transform: rotate(-45deg);
		}
.nav-bar__icon.active span:nth-child(2){
			-webkit-transform: translateX(-30px);
			        transform: translateX(-30px);
			opacity: 0;
		}
.nav-bar__icon span{
			width: 25px;
			height: 2px;
			background-color: #333;
			display: block;
			position: absolute;
			top: calc(50% - 1px);
			left: calc(50% - 12.5px);
			transition: all .4s;
		}
.nav-bar__icon span:nth-child(1){
				-webkit-transform: translateY(10px);
				        transform: translateY(10px);
			}
.nav-bar__icon span:nth-child(3){
				-webkit-transform: translateY(-10px);
				        transform: translateY(-10px);
			}
@media (min-width: 900px){
.nav-bar__icon{
			display: none;
			visibility: hidden
	}
		}
/*============================================================================
Grid Layout 12Col Starts!!!
============================================================================*/
*:before,
    *:after {
        box-sizing: inherit;
    }
.grid {
        max-width: 1200px;
        margin: 0 auto;
    }
.grid:before,
    .grid:after,
    .row:before,
    .row:after {
        content: " ";
        display: table;
    }
.grid:after,
    .row:after {clear: both;}
[class*='col-']{
        width: 100%;
        float: left;
    }
.col-1 {width: 8.33333%;}
.col-2 {width: 16.66667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33333%;}
.col-5 {width: 41.66667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33333%;}
.col-8 {width: 66.66667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33333%;}
.col-11 {width: 91.66667%;}
.col-12 {width: 100%;}
@media screen and (min-width:320px){
        .col-xs-1 {width: 8.33333%;}
        .col-xs-2 {width: 16.66667%;}
        .col-xs-3 {width: 25%;}
        .col-xs-4 {width: 33.33333%;}
        .col-xs-5 {width: 41.66667%;}
        .col-xs-6 {width: 50%;}
        .col-xs-7 {width: 58.33333%;}
        .col-xs-8 {width: 66.66667%;}
        .col-xs-9 {width: 75%;}
        .col-xs-10 {width: 83.33333%;}
        .col-xs-11 {width: 91.66667%;}
        .col-xs-12 {width: 100%;}
    }
@media screen and (min-width:640px){
        .col-sm-1 {width: 8.33333%;}
        .col-sm-2 {width: 16.66667%;}
        .col-sm-3 {width: 25%;}
        .col-sm-4 {width: 33.33333%;}
        .col-sm-5 {width: 41.66667%;}
        .col-sm-6 {width: 50%;}
        .col-sm-7 {width: 58.33333%;}
        .col-sm-8 {width: 66.66667%;}
        .col-sm-9 {width: 75%;}
        .col-sm-10 {width: 83.33333%;}
        .col-sm-11 {width: 91.66667%;}
        .col-sm-12 {width: 100%;}
    }
@media screen and (min-width:960px){
        .col-md-1 {width: 8.33333%;}
        .col-md-2 {width: 16.66667%;}
        .col-md-3 {width: 25%;}
        .col-md-4 {width: 33.33333%;}
        .col-md-5 {width: 41.66667%;}
        .col-md-6 {width: 50%;}
        .col-md-7 {width: 58.33333%;}
        .col-md-8 {width: 66.66667%;}
        .col-md-9 {width: 75%;}
        .col-md-10 {width: 83.33333%;}
        .col-md-11 {width: 91.66667%;}
        .col-md-12 {width: 100%;}
    }
@media screen and (min-width:1200px){
        .col-wd-1 {width: 8.33333%;}
        .col-wd-2 {width: 16.66667%;}
        .col-wd-3 {width: 25%;}
        .col-wd-4 {width: 33.33333%;}
        .col-wd-5 {width: 41.66667%;}
        .col-wd-6 {width: 50%;}
        .col-wd-7 {width: 58.33333%;}
        .col-wd-8 {width: 66.66667%;}
        .col-wd-9 {width: 75%;}
        .col-wd-10 {width: 83.33333%;}
        .col-wd-11 {width: 91.66667%;}
        .col-wd-12 {width: 100%;}
    }
/*============================================================================
    Grid Layout 12Col Ends!!!
    ============================================================================*/