.about{
	background-color: #ecf0f1;
	padding: 10rem 2rem;


	&__wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		& > div:not(:last-child){
			text-align: center;
			margin-right: 0rem;
		}

		& > div{
			text-align: center;
		}


		@media (min-width: 1000px){
			flex-direction: row;
			
			& > div:not(:last-child){
				margin-right: 10rem;
				text-align: left;
			}

			& > div{
				text-align: left;
			}

		}
	}
}