.large-hero{
	background-image: linear-gradient(rgba(0,0,0,.3),
		                              rgba(0,0,0,.3) ),
	                                  url(../img/hero-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80% 70%;

	height: 100vh;
	width: 100vw;
	padding: 0 2rem;

	position: relative;

	@mixin atMedium{
		background-position: center center
	}

	&__description{
		position: absolute;
		top: 50%;
		left: 44%;
		transform: translate(-50%,-50%);

		&--heading-1 {
			font-family: Montserrat, sans-serif;
			font-weight: normal;
			font-size: 	5rem;
			letter-spacing: 2px;
			color: #FFF;

			@mixin atSmall{
				font-size: 5.5rem;
			}

			@mixin atMedium{
				font-size: 7.2rem;
			}
		}

		&--heading-2 {
			font-family: Roboto, sans-serif;
			font-weight: normal;
			font-size: 	2.5rem;
			letter-spacing: 1.5px;
			color: #FFF;

			@mixin atSmall{
				font-size: 3rem;
			}

			@mixin atMedium{
				font-size: 3.6rem;
			}
		}
	}
}

.header{
	font-family: Lato, sans-serif;
	font-weight: 300;
	color: #FFF;
	position: relative;

	height: 10rem;
	margin-top: 4rem;

	&__logo{
		font-size: 4rem;
		font-weight: normal;
		color: #fff;

		& span{
			border: 1px solid #fff;
			padding: .5rem;
		}
	}
}

.navi{

	&__checkbox{
		display: none;
		visibility: hidden;
	}

	&__button{
		width:5rem;
		height: 5rem;
		border-radius: 50%;
		position: fixed;
		top: 4rem;
		right: 4rem;
		background-color: #FFF;
		z-index: 3;
	}

	&__bg{
		width:4rem;
		height: 4rem;
		border-radius: 50%;
		position: fixed;
		top:4.5rem;
		right: 4.5rem;
		background-color: rgba(#2d3436, .9);
		z-index: 1;
		transition: all .8s cubic-bezier(.86, 0, .07, 1);
	}

	&__nav{
		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2;
		transform: translate(100%, -50%) scale(.1);
		opacity: 0;
		visibility: hidden;
		transition: all .7s ease-in-out;
	}

	&__list{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		list-style-type: none;
		text-align: center;
		width: 100%;
	}

	&__item{
		margin: 2rem;
	}

	&__link{
		display: inline-block;

		text-decoration: none;
		font-family: Lato, sans-serif;
		font-size: 4rem;
		font-weight: 300;
		color: #fff;

		padding: 1rem 2rem;
		border-radius: 2px;
		background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFF 50%);
		background-size: 250%;
		transition: all .3s;

		&:hover,
		&:active{
			color: #6c5ce7;
			background-color: #fff;
			background-position: 100%;
			transform: translateX(1rem);
		}
	}

	&__checkbox:checked ~ &__bg{
		transform: scale(100);
	}

	&__checkbox:checked ~ &__nav{
		opacity: 1;
		transform: translate(0,0) scale(1);
		visibility: visible;
	}

	&__icon{
		position: relative;
		top: 35%;
		left: 50%;
		transform: translate(-50%,-50%);


		&,
		&:after,
		&:before{
			width:2rem;
			height: 2px;
			background-color: #333;
			display: inline-block;
		}

		&:after,
		&:before {
			content: '';
			position: absolute;
			left: 0;
			transition: all .2s;
		}

		&:before{top: -.6rem;}
		&:after{top: .6rem;}
	}

	&__button:hover &__icon:before{
		top: -.8rem;
	}

	&__button:hover &__icon:after{
		top: .8rem;
	}


	&__checkbox:checked ~ &__button &__icon{
		background-color: transparent;
	}

	&__checkbox:checked ~ &__button &__icon:before{
		top: 0;
		transform: rotate(135deg);
	}

	&__checkbox:checked ~ &__button &__icon:after{
		top: 0;
		transform: rotate(-135deg);
	}



	@mixin atMedium{
		position: absolute;
		top: 0;
		right: 0;

		&__button{
			border-radius: 0;
			position: static;
			background-color: transparent;
			display: none;
			visibility: hidden;
		}

		&__bg{
			border-radius: 0;
			position: static;
			background-color: transparent;
			transition: all 0s ease 0s;
			display: none;
			visibility: hidden;
		}

		&__nav{
			float: right;
			height: auto;
			width: auto;
			position: static;
			z-index: auto;
			transform: none;
			opacity: 1;
			visibility: visible;
			transition: all 0s ease 0s;
		}

		&__list{
			display: block;
			position: static;
			transform: none;
			list-style-type: none;
			text-align: center;
			width: auto;
		}

		&__item{
			display: inline-block;
		}

		&__link{
			display: inline;

			text-decoration: none;
			font-family: Lato, sans-serif;
			font-size: 1.6rem;
			font-weight: 300;
			color: #fff;

			padding: 1rem 2rem;
			border-radius: 2px;
			background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFF 50%);
			background-size: 250%;
			transition: all .3s;

			&:hover,
			&:active{
				color: #2d3436;
			}
		}
	}
}