.large-hero{
	background-image: linear-gradient(rgba(0,0,0,.3),
		                              rgba(0,0,0,.3) ),
	                                  url(../img/hero-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	height: 100vh;
	width: 100vw;

	position: relative;

	&__description{
		position: absolute;
		top: 45%;
		left: 44%;
		transform: translate(-50%,-50%);

		&--heading-1 {
			font-family: Montserrat, sans-serif;
			font-weight: normal;
			font-size: 	7.2rem;
			letter-spacing: 2px;
			color: #FFF;
		}

		&--heading-2 {
			font-family: Roboto, sans-serif;
			font-weight: normal;
			font-size: 	3.6rem;
			letter-spacing: 1.5px;
			color: #FFF;
		}

	}
}


.header{
	font-family: Lato, sans-serif;
	font-weight: 300;
	color: #FFF;

	height: 10rem;
	margin-top: 2rem;

	&__logo{
		font-size: 4.8rem;
	}

	&__nav{
		margin-top: 2.5rem;
		float: right;

		ul{
			list-style-type: none;
			font-weight: normal;

			li{
				display: inline-block;

				&:not(:last-child){
					margin-right: 6rem;
				}

				a{
					display: inline-block;
					text-decoration: none;
					font-size: 1.6rem;
					color: #FFF;
					border-bottom: 2px solid transparent;

					padding-bottom: .5rem;

					transition: border-bottom 50ms linear 0s;

					&:hover,
					&:active{
						border-bottom: 2px solid #FFF;
					}
				}
			}
		}

	}
}