.nav-bar{
	display: flex;
	align-items: center;
	height: 10rem;
	position: static;

	@media (min-width: 900px){
		position: relative;
		z-index: 2;
	}

	&__logo{
		margin-right: auto;
		font-family: 'Lato', sans-serif;
		font-size: 4.8rem;
		font-weight: 300;
		color: $black;
		padding: .5rem .5rem;
		border: 1.5px solid $black;

		a{
			text-decoration: none;
			color: inherit;
		}
	}

	&__menu-bar{

		&.active ul{
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}

		ul{
			opacity: 0;
			visibility: hidden;
			transform: translateY(-100%);
			list-style-type: none;
			background-color: $dark-grey;
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			text-align: center;
			transition: all .4s;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		li{
			display: block;
			align-self: stretch;
		}

		a{
			display: block;
			text-decoration: none;
			color: $white;
			font-family: 'Lato', sans-serif;
			font-size: 1.8rem;
			font-weight: 700;
			text-transform: uppercase;
			padding: 4rem 2rem;
			transition: all .2s;

			&:active,
			&:hover{
				background-color: $white;
				color: $black;
				transform: translateY(-2px);
			}
		}

		@media (min-width: 900px){

				ul{
					transform: scale(1);
					opacity: 1;
					visibility: visible;
					list-style-type: none;
					background-color: transparent;
					width: auto;
					height: auto;
					position: static;
					z-index: 10;
					text-align: left;
					transition: all .3s;
					display: block;
				}

				li{
					display: inline-block;

					&:not(:last-child){
						margin-right: 2rem;
					}
				}

				a{
					display: block;
					text-decoration: none;
					color: $black;
					font-family: 'Lato', sans-serif;
					font-size: 1.6rem;
					font-weight: bold;
					text-transform: uppercase;
					padding: 2rem;
					border-bottom: 1px solid transparent;
					transition: all .2s;

					&:active,
					&:hover{
						border-bottom: 1px solid $black;
						background-color: transparent;
						color: $black;
						transform: translate(0);
				}
			}
		}
	}


	&__icon{
		cursor: pointer;
		width: 50px;
		height: 50px;
		background-color: $white;
		color: $black;
		position: fixed;
		z-index: 11;
		position: relative;

		&.active span:nth-child(1){
			transform: rotate(45deg);
		}

		&.active span:nth-child(3){
			transform: rotate(-45deg);
		}

		&.active span:nth-child(2){
			transform: translateX(-30px);
			opacity: 0;
		}

		& span{
			width: 25px;
			height: 2px;
			background-color: $black;
			display: block;
			position: absolute;
			top: calc(50% - 1px);
			left: calc(50% - 12.5px);
			transition: all .4s;

			&:nth-child(1){
				transform: translateY(10px);
			}

			&:nth-child(3){
				transform: translateY(-10px);
			}
		}

		@media (min-width: 900px){
			display: none;
			visibility: hidden;
		}
	}
}




