.mg-bt-sm{ margin-bottom: 2rem; }
.mg-bt-md{ margin-bottom: 4rem; }
.mg-bt-lg{ margin-bottom: 6rem; }
.mg-bt-hg{ margin-bottom: 8rem; }

.mg-tp-sm{ margin-top: 2rem; }
.mg-tp-md{ margin-top: 4rem; }
.mg-tp-lg{ margin-top: 6rem; }
.mg-tp-hg{ margin-top: 8rem; }